<!-- Andreas Themistocles | 301251197 -->
<!-- Header Section -->

<%- include ('partials/header.ejs') %>

<!-- Header Image Section -->

<%- include ('partials/header_image.ejs') %>

<!-- Navigation Section -->

<%- include ('partials/nav_main.ejs') %>

<!-- Title Section -->

<!-- Main Content Section-->

<main>
    <div class="main-content-div">

      <div class="main-content-title">
        <h1><%= title %></h1>
      </div>
      <div class="main-content">
        <div class="about-personal-info-div">
          <img src="/assets/images/Self-Photo.jpeg" alt="Self photo" class="about-self-photo">
          <p><b>Andreas Themistocles</b><br>
          (Sorry about my ugliness) ​&#x1F62D;</p>
        </div>
        <div class="about-description-div">
          I was born and raised in Toronto. As of right now, I'm currently learning software development. Beyond that, 
          I also experience with video-editing and video-composing.
        </div>
        <div class="about-resume-div">
          <a href="/assets/documents/Placeholder Resume.pdf" class="about-resume-link">Resume</a>
        </div>
      </div>
    </div>
</main>

<!-- Footer Section -->

<%- include ('partials/footer.ejs') %>

<!-- Script Section -->

<%- include ('partials/closing.ejs') %>


