<!-- Andreas Themistocles | 301251197 -->
<!-- Header Section -->

<%- include ('partials/header.ejs') %>

<!-- Header Image Section -->

<%- include ('partials/header_image.ejs') %>

<!-- Navigation Section -->

<%- include ('partials/nav_main.ejs') %>

<!-- Title Section -->

<!-- Main Content Section-->

<main>
    <div class="main-content-div">

        <div class="main-content-title">
            <h1><%= title %></h1>
        </div>
        <div class="main-content">
            <div class="error-content">
                <h1><%= message %></h1>
                <h2><%= error.status %></h2>
                <!--<pre><%= error.stack %></pre>-->
            </div>
        </div>
    </div>
</main>

<!-- Footer Section -->

<%- include ('partials/footer.ejs') %>

<!-- Script Section -->

<%- include ('partials/closing.ejs') %>

