<!-- Andreas Themistocles | 301251197 -->
<!-- Header Section -->

<%- include ('partials/header.ejs') %>

<!-- Header Image Section -->

<%- include ('partials/header_image.ejs') %>

<!-- Navigation Section -->

<%- include ('partials/nav_main.ejs') %>

<!-- Title Section -->

<!-- Main Content Section-->

<main>
    <div class="main-content-div">

        <div class="main-content-title">
            <h1><%= title %></h1>
        </div>
        <div class="main-content">
            <div class="home-content">
                <p>Welcome!</p>
                <h3>Mission Statement</h3>
                <p>I will code for food &#x1F607;</p>
                <a href="/about">About Me</a>
            </div>
        </div>
    </div>
</main>

<!-- Footer Section -->

<%- include ('partials/footer.ejs') %>

<!-- Script & Closing Tags Section -->

<%- include ('partials/closing.ejs') %>


