<!-- Andreas Themistocles | 301251197 -->
<!-- Header Section -->

<%- include ('partials/header.ejs') %>

<!-- Header Image Section -->

<%- include ('partials/header_image.ejs') %>

<!-- Navigation Section -->

<%- include ('partials/nav_main.ejs') %>

<!-- Title Section -->

<!-- Main Content Section-->

<main>
    <div class="main-content-div">

      <div class="main-content-title">
        <h1><%= title %></h1>
      </div>
      <div class="main-content">
        <div class="projects-content">


            <h3 class="projects-title">Previous Centennial College Webpage Projects</h3>


            <h3 class="projects-project-title">Dot Clicker</h3>

            <div class="projects-sample">
              <a href="http://studentweb.cencol.ca/athemis1/assignment5/assignment5.html" target="_blank">
                <img src="/assets/images/DotClicker.png" alt="Photo of a JavaScript game" class="projects-sample-image">
              </a>
            </div>

            <div class="projects-description-div">
              <p>A JavaScript mini-game. Done for COMP-125</p>
            </div>

            <div class="projects-project-link">
              <a href="http://studentweb.cencol.ca/athemis1/assignment5/assignment5.html" target="_blank" class="projects-sample-link">Dot Clicker</a>
            </div>

            <h3 class="projects-project-title">Fuel-Cell Web Page</h3>

            <div class="projects-sample">
              <a href="http://studentweb.cencol.ca/athemis1/IndividualAssignment/index.html" target="_blank">
                <img src="/assets/images/FuelCellWebpage.png" alt="Photo of a webpage on fuel-cells" class="projects-sample-image">
              </a>
              
            </div>

            <div class="projects-description-div">
              <p>A demo webpage containing information about fuel-cells</p>
            </div>

            <div class="projects-project-link">
              <a href="http://studentweb.cencol.ca/athemis1/IndividualAssignment/index.html" target="_blank" class="projects-sample-link">Fuel-Cell Web Page</a>
            </div>
            

            <h3 class="projects-project-title">Product Page Demo</h3>

            <div class="projects-sample">
              <a href="http://studentweb.cencol.ca/athemis1/assign3/Assignment3.html" target="_blank">
                <img src="/assets/images/ProductDemo.png" alt="Photo of a product page" class="projects-sample-image">
              </a>
            </div>

            <div class="projects-description-div">
              <p>A demo webpage containing information about a product. Done for COMP-213</p>
            </div>

            <div class="projects-project-link">
              <a href="http://studentweb.cencol.ca/athemis1/assign3/Assignment3.html" target="_blank" class="projects-sample-link">Product Page Demo</a>
            </div>
          
        </div>
      </div>
    </div>
</main>

<!-- Footer Section -->

<%- include ('partials/footer.ejs') %>

<!-- Script Section -->

<%- include ('partials/closing.ejs') %>

